body{
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    text-align: center;
    background: url("../Gallery/bgphoto.jpg") no-repeat;
}

.homeBody{
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    text-align: center;
    background: url("../Gallery/csgo.jpg") no-repeat;
}

.homeBtn{
    width: 150px;
    height: 75px;
    line-height: 75px;
    border-radius: 25px;
    background-color: #00BFFF;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-decoration: none;
}

.homeBtn:hover{
    background-color: #1cb6d8;
}

.inputText {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.inputText:hover{
    border: 1px solid #1cb6d8;
}

button {
    background-color: #5b9aff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.errMsg{
    font-size: 60%;
    color: red;
}

.formDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}