h2{
    color: white;
}

body {
    padding: 100px;
}

form {
    background-color: #ffffff;
    width: 500px;
    height: 400px;
    text-align: left;
    display: grid;
}

form h1{
    text-align: center;
}

.container {
    padding: 10px 16px 5px 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

