body {
    padding: 13px;
}

form {
    background-color: #ffffff;
    width: 500px;
    height: 500px;
    text-align: left;
    display: grid;
}

form h1{
    text-align: center;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 10px 16px 5px 16px;
    background-color: white;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

a {
    color: dodgerblue;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}


